################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin
**/obj
*.user
/src/VirtualDev.Rasa/models
/src/VirtualDev.Rasa/actions/__pycache__
